.navbar {
  position: fixed;       /* fixa no topo da página */
  top: 0;                /* encosta no topo */
  left: 0;               /* encosta na esquerda */
  right: 0;              /* encosta na direita */
  width: 100%; 
  overflow: hidden;
  background: linear-gradient(to right, #0077FB, #FF00FF);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.active {
  border: 2px solid white;
  color: white;
  background-color: transparent; 
}


.navbar a {
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 120px;
  border-radius: 150px;
}

@media (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;
    height: auto;
    padding: 10px;
  }

  .navbar a {
    width: 70%;
    margin: 5px 0;
  }
}