.navbar {
  overflow: hidden;
  background-color: #007bff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.active {
  border: 2px solid white;
  color: white;
  background-color: transparent; 
}


.navbar a {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 120px;
  border-radius: 150px;
}